h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 10%;
    font-size: 250%;
}

li {
    margin: 5%;
}

* {
    text-decoration: none;
}