html {
    background-color: var(--body-background-color);
    color: var(--text-color);
    transition: 0.5s;
}

h1 {
    text-align: center;
    color: var(--title-color);
}

p {
    margin: 10%;
    font-size: 1.5em;
}

#themeToggleButton {
    color: var(--font-color);
    background: var(--color-primary);
    color: var(--nav-text-color);
    background: var(--nav-background-color);
    padding: 10px 20px;
    border-radius: 5px;
}